/** @format */

.main-layout {
  /* max-width: 120px; */
  /* max-height: 800px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /*Đảm bảo các phần tử được căn trên cùng*/
  gap: 20px; /*Giảm khoảng cách giữa Sidebar và ProductAdBanner*/
  padding: 20px;
  width: 100%; /*Đảm bảo layout chiếm đủ chiều rộng của container */
}

.sidebar {
  flex-basis: 20%; /* Chiếm 20% chiều rộng */
  max-width: 200px; /* Đặt giới hạn chiều rộng */
}

.product-ad-banner {
  flex-basis: 75%; /* Chiếm 75% chiều rộng còn lại */
  max-width: 943px; /* Giới hạn chiều rộng tối đa */
}

