/**
 * src/App.css
 *
 * @format
 */

 html, body {
  height: 100%; /* Đảm bảo chiều cao 100% cho html và body */
  margin: 0; /* Xóa margin */
}

.app {
  display: flex;
  flex-direction: column; /* Căn dọc cho các thành phần */
  min-height: 100vh; /* Chiều cao tối thiểu 100% viewport */
}

.mainContent {
  flex: 1; /* Cung cấp không gian cho nội dung giữa */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

