/** @format */

.sidebar {
  width: 100%;
  padding: 0;
  background-color: #f8f9fa;
  margin-left: 100px; /* Cách lề trái */
  border: 1px solid #e5e7eb;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 8px 0; Giảm padding để các item sát nhau hơn */
  /* border: 1px solid #e5e7eb; */
  cursor: pointer;
}

.item-content {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px; /* Giảm khoảng cách giữa icon và text */
  font-size: 16px;
}

.item-text {
  font-size: 14px;
  color: #000;
}

.icon-arrow {
  font-size: 16px;
  color: #000;
}
