/** @format */

.product-ad-banner {
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  background-color: #f5f2ec; /* Cập nhật màu nền */
  width: 100%;
  max-width: 943px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto; /* Đặt giữa trang */
  display: flex;
  align-items: center;
}

.text-content {
  padding: 20px;
}

.discount-tag {
  display: inline-block;
  background: linear-gradient(90deg, #67cf8f 0%, #ffffff 100%);
  color: #67cf8f;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
}

.ad-title {
  font-size: 35px;
  color: #39245f;
  font-weight: bold;
  margin-top: 10px;
}

.ad-description {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 20px;
}

.price-button-wrapper {
  display: flex;
  align-items: center;
  height: 55px; /* Đảm bảo chiều cao của phần này bằng với chiều cao nút "Mua ngay" */
}

.buy-now-btn {
  font-size: 16px;
  padding: 10px 24px;
  background-color: #673ab7;
  color: white;
  font-weight: bold;
  border: 20px;
  border-radius: 8px;
  height: 55px; /* Đảm bảo chiều cao nút phù hợp với phần giá tiền */
}
.buy-now-btn:hover {
  background-color: #673ab7;
  color: black;
  font-weight: bold;
}

.price-content {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.price-content .price {
  font-size: 30px !important; /* Tăng kích thước chữ cho giá mới để nó nổi bật hơn */
  color: #e53935; /* Màu đỏ cho giá hiện tại */
  font-weight: bold;
  margin-right: 8px;
}

.price-content .original-price {
  font-size: 18px !important; /* Giảm kích thước chữ cho giá cũ để nó kém nổi bật hơn giá mới */
  color: #6c757d;
  text-decoration: line-through; /* Gạch ngang chữ */
}

.note {
  font-size: 12px;
  color: #6c757d;
  margin-top: 10px;
}

.image-content {
  text-align: right;
}

.product-image {
  width: 100%;
  max-height: 300px; /* Tùy chỉnh kích thước để phù hợp với giao diện */
  border-radius: 8px;
  object-fit: cover; /* Giúp hình ảnh phù hợp với khung chứa mà không bị méo */
}
